APP_DEBUG=true

CORS_ALLOW_ORIGIN="*"
CORS_ALLOW_METHODS=null
CORS_MAX_AGE=null
CORS_ALLOW_CREDENTIALS=null
CORS_EXPOSE_HEADERS=null

DB_DRIVER="pdo_mysql"
DB_HOST="127.0.0.1"
DB_NAME="silex_scaffolding"
DB_USERNAME="root"
DB_PASSWORD=""
DB_CHARSET="utf8"
DB_PORT=3306

DOCTRINE_ORM_PROXIES_DIRECTORY="storage/doctrine/proxies"
DOCTRINE_ORM_AUTO_GENERATE_PROXIES=true
DOCTRINE_ORM_DEFAULT_CACHE="array"
DOCTRINE_ORM_PROXIES_NAMESPACE="DoctrineProxy"

DOCTRINE_ORM_MAPPING_DEFAULT_TYPE="annotation"
DOCTRINE_ORM_MAPPING_DEFAULT_NAMESPACE=Cekurte\Silex\Entity
DOCTRINE_ORM_MAPPING_DEFAULT_PATH="src/Entity"

DOCTRINE_MIGRATIONS_DIRECTORY="storage/doctrine/migrations"
DOCTRINE_MIGRATIONS_NAME="Silex Migrations"
DOCTRINE_MIGRATIONS_NAMESPACE=Cekurte\Silex\Migrations
DOCTRINE_MIGRATIONS_TABLENAME=migrations
